﻿@model Walmart_Admin_Dashboard.Models.StagingDataModel


@if (Model.TasksInProgress != null)
    {
    <h4>Tasks In Progress</h4>
    <div id="tpPartial">
        @Html.Partial("_TasksInProgress", Model.TasksInProgress)
    </div>
    }
 @if (Model.TaskHistory != null && Model.TaskHistory.Count() > 0)
    {
    <h4>Tasks History</h4>

    <div id="thPartial">
        @Html.Partial("_TaskHistory", Model.TaskHistory)
    </div>
    }
@*
    <div id="thPartial">
        @Html.Partial("_TasksInProgress", Model.TasksInProgress)
    </div>
       <table class="table table-striped table-bordered dashboard-table">
                <thead class="headerRow">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => Model.TasksInProgress.TaskDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.TasksInProgress.TaskInstanceID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.TasksInProgress.TaskID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.TasksInProgress.TaskStart)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => Model.TasksInProgress.ProcMins)
                        </th>

                    </tr>
                </thead>
                @foreach (var item in Model.TasksInProgress)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskInstanceID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProcMins)
                        </td>

                    </tr>
                }

            </table>
*@

