﻿@model Walmart_Admin_Dashboard.Models.StagingDataModel
@{
    ViewBag.Title = "Osca Staging";
    var cid = TempData["cid"];
}

<h2>Walmart OSCA Data Loading</h2>
<div class="row">
    <div class="col-md-8">
        <span style="font-size: 1.5rem; font-weight:500">Database: @ViewBag.Conn  </span> 
    </div>
    <div class="col">
        <span style="float:right">@Html.ActionLink("View Processing", "Index", "Processing", new { cid = cid }, new { @class = "btn" })</span>
</div>
    <div class="col">
        <span style="float:right">
            @Html.ActionLink("View Dashboard", "Index", "Dashboard", new { cid = cid }, new { @class = "btn" })
        </span>
    </div>
    </div>


@*@Html.Partial("_TaskHistory", Model.TaskHistory)*@

<a class="link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
   Open Filters To Find Tasks
</a>

<div class="collapse" id="collapseExample">
    <form class="panel panel-default" style="font-size:12px; background-color: #eeeeee;">
        @*<div class="panel-heading">Find Tasks</div>*@
        <div class="panel-body">
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="statusSelect" class="col-sm-3 col-form-label-sm" id="lbl">Status Code</label>
                    <div class="col-sm-9">
                        <select class="form-control form-control-sm" id="statusSelect">
                            <option value="">Select Task Status</option>
                            <option value="C">Complete</option>
                            <option value="P">Pending</option>
                            <option value="F">Failed</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="marketSelect" class="col-sm-3 col-form-label-sm" id="lbl">Select Market</label>
                    <div class="col-sm-9">
                        <select class="form-control form-control-sm" id="marketSelect">

                            <option value="FC" selected="selected">FC</option>
                            <option value="NHM">NHM</option>
                            <option value="GM">GM</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="taskDescrTxt" class="col-sm-3 col-form-label-sm">Task Description</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="taskDescrTxt" title="Task Description">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="fileNameTxt" class="col-sm-3 col-form-label-sm">File Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control form-control-sm" id="fileNameTxt" title="File Name">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="taskStartTxt" class="col-sm-3 col-form-label col-form-label-sm">Task Start From:</label>
                    <div class="col-sm-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="taskStartTxt" title="Task Start Date">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="taskEndTxt" class="col-sm-3  col-form-label-sm">Task Start To:</label>
                    <div class="col-sm-9">
                        <input type="datetime-local" class="form-control form-control-sm" id="taskEndTxt" title="Task End Date">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-default" id="btnApplyFilter" title="ApplyFilter">Apply Filter</button>
                    <input type="reset" class="btn btn-default">
                </div>
            </div>
        </div>
    </form>
</div>


    @if (Model != null)
    {
        <div id="Partial">
            @Html.Partial("_StagingView", Model)


        </div>

    }

    <script type="text/javascript" language="javascript">
        // $('#btnApplyFilter').click(function () {
        $(document).on('click', '#btnApplyFilter', function () {
            $.blockUI();
            setTimeout($.unblockUI, 1500);
            //var urlParams = new URLSearchParams(window.location.search);
            //var cid = urlParams.get('cid');
            var cid = getQueryStringValue("cid")

            var status = $('#statusSelect').val();
            var taskDescr = $('#taskDescrTxt').val();
            var fileName = $('#fileNameTxt').val();
            var taskStart = $('#taskStartTxt').val();
            var taskEnd = $('#taskEndTxt').val();
            var market = $('#marketSelect').val();

            ApplyFilter(cid, status, taskDescr, fileName, taskStart, taskEnd, market);
            // $.unblockUI();
        });

        function ApplyFilter(cid, status, taskDescr, fileName, taskStart, taskEnd, market) {
            $("#Partial").load('@Url.Action("ApplyFilter", "Staging")', {
                cid: cid, status: status, taskDescr: taskDescr,
                fileName: fileName, taskStart: taskStart, taskEnd: taskEnd, market: market
            });
        }




    </script>

