﻿@model IEnumerable<Walmart_Admin_Dashboard.Models.GMCopyoverViewModel>
@using (Html.BeginForm("GMCopyover"))
{
<table class="table table-striped table-bordered dashboard-table">
    <thead class="headerRow">
        <tr >
            <th> Analysis Date</th>
            <th> Table Name</th>
            <th> AvgTransferDuration</th>
            <th> Streams Complete</th>
            <th> Mainland Complete</th>
            <th> 159 Complete Time</th>
            <th> 160 Complete Time</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnalysisDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgTransferDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumComplete) / 60
            </td>
            @{
                var bgColour = "";
                if (!String.IsNullOrEmpty(item.MainlandComplete))
                {
                    var value = Convert.ToDateTime(item.MainlandComplete);
                    bgColour = (value.Hour > 7 || (value.Hour == 7 && value.Minute > 0)) ? "background-color:#ffc7ce"
                        : (value.Hour <= 7) ? "background-color:#c6efce"
                        : "";
                }
                    <td style=@bgColour>@item.MainlandComplete</td>


                if (!String.IsNullOrEmpty(item.Complete159))
                {
                    var value159 = Convert.ToDateTime(item.Complete159);
                    bgColour = (value159.Hour > 7 || (value159.Hour == 7 && value159.Minute > 0)) ? "background-color:#ffc7ce"
                      : (value159.Hour <= 7) ? "background-color:#c6efce"
                      : "";
                }
                    <td style=@bgColour> @item.Complete159 </td >


                if (!String.IsNullOrEmpty(item.Complete160))
                {
                    var value160 = Convert.ToDateTime(item.Complete160);
                    bgColour = (value160.Hour > 7 || (value160.Hour == 7 && value160.Minute > 0)) ? "background-color:#ffc7ce"
                        : (value160.Hour <= 7) ? "background-color:#c6efce"
                        : "";
                }
                <td style=@bgColour>@item.Complete160</td>


                }
        </tr>
                }
    </tbody>
</table>
}


<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        
        $('#ShowHistoryChk').change(function () {
            var cid = getQueryStringValue("cid")
            LoadPartial(cid, this.checked);
        });

        function LoadPartial(cid, chk) {
            $("#gmPartial").load('@Url.Action("LoadGMCopyover", "Processing")', {cid:cid, chk: chk });
        }
    });

   
</script>
<style>
.greenBg {background-color:#c6efce;}
.redBg {background-color:#ffc7ce;}

</style>