﻿@model Walmart_Admin_Dashboard.Models.OscaProcessViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Osca Processing";
    var cid = TempData["cid"];
    var rptDate = Model.ProcessingCompleteStatus.FCCompletedAnalysisDt.AnalysisDate;
}
<h2>Walmart OSCA Data Processing Details</h2>
<div class="row" style="margin:15px 0">
    <div class="col-md-4">
        <span style="font-size: 1.5rem; font-weight:500">Database: @ViewBag.Conn  </span>
    </div>
    <div class="col-md-4">
        <span style="font-size: 1.5rem; font-weight:500">Analysis Date: @rptDate  </span>
    </div>
    <div class="col-md-2">
        @Html.ActionLink("View Staging", "Index", "Staging", new { cid = cid }, new { @class = "btn" })
    </div>
    <div class="col-md-2">
        @Html.ActionLink("View Dashboard", "Index", "Dashboard", new { cid = cid }, new { @class = "btn" })
    </div>
  </div>

@Html.Partial("_CompleteProcessing", Model.ProcessingCompleteStatus)

<h4>Still to process on FC </h4>


@if (Model != null)
{
    if (Model.FCStillToProcess != null && Model.FCStillToProcess.Count() > 0)
    { @Html.Partial("_StillToProcess", Model.FCStillToProcess)}
    else
    { <p>Processing is finished for today</p>}

    <h4>Still to process on NHM </h4>
    if (Model.NHMStillToProcess != null && Model.NHMStillToProcess.Count() > 0)
    {@Html.Partial("_StillToProcess", Model.NHMStillToProcess) }
    else
    { <p>Processing is finished for today</p>}

    <h4>Still to process on GM </h4>
    if (Model.GMStillToProcess != null && Model.GMStillToProcess.Count() > 0)
    {@Html.Partial("_StillToProcess", Model.GMStillToProcess) }
    else
    { <p>Processing is finished for today</p>}

    if (Model.GMCopyover != null && Model.GMCopyover.Count() > 0)
    {
        <h4> GM Copy Over</h4>
        <input type="checkbox" id="ShowHistoryChk" title="Show History">
        <label for="ShowHistoryChk" id="lbl">Show History</label>

                <div id="gmPartial">
                    @Html.Partial("_GMCopyOver", Model.GMCopyover)
                </div>
    }

}


