﻿@model IEnumerable<Walmart_Admin_Dashboard.Models.GrandMasterStatus>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OriginatingServer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunStarted)
                </td>
                
                @{
                    var bgColour = item.IsEnabled == "Enabled" ? "background-color:#c6efce" : "background-color:#ffc7ce";
                     <td style=@bgColour>@item.IsEnabled</td>
                    var colour = item.IsRunning == "Running" ? "#c6efce" : "#ffc7ce";
                    <td style='background-color:@colour'>@item.IsRunning</td>
                }

                @* <td>
                         @Html.DisplayFor(modelItem => item.CurrentRunTime)
                     </td>
                    <td>
                         @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                         @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                         @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                     </td>*@
            </tr>
        }


