﻿@model Walmart_Admin_Dashboard.Models.OscaDashboardViewModel
@{
    ViewBag.Title = "Osca Dashboard"; 
    var cid = TempData["cid"];
    var rptDate = Model.ProcessingCompleteStatus.FCCompletedAnalysisDt.AnalysisDate;
}
<h2>Walmart Osca Dashboard</h2>
<div class="form-row" style="margin:15px 0">
    <div class="col-md-4">
        <span style="font-size: 1.5rem; font-weight:500">Database: @ViewBag.Conn  </span> 
    </div>
    <div class="col-md-4">
        <span style="font-size: 1.5rem; font-weight:500">Analysis Date: @rptDate  </span>
    </div>
    <div class="col-md-2">
        
            @Html.ActionLink("View Staging", "Index", "Staging", new { cid = cid }, new { @class = "btn" })
       
    </div>
    <div class="col-md-2">
       
            @Html.ActionLink("View Processing", "Index", "Processing", new { cid = cid }, new { @class = "btn" })
       
    </div>
  </div>
<br />
@Html.Partial("_CompleteProcessing", Model.ProcessingCompleteStatus)
    
    
@if (Model != null)
{
    <h4> Grand Master Status</h4>
    <table class="table table-striped table-bordered dashboard-table">
        <thead class="headerRow">
            <tr>
                <th>Job Name</th>
                <th>Server</th>
                <th>Run Started</th>
                <th>IsEnabled </th>
                <th>IsRunning </th>
            </tr>
        </thead>
        @{if (Model.FCGrandMasterStatus != null && Model.FCGrandMasterStatus.Count() > 0)
        {@Html.Partial("_GrandMasterStatus", Model.FCGrandMasterStatus) }

        if (Model.GMGrandMasterStatus != null && Model.GMGrandMasterStatus.Count() > 0)
        {@Html.Partial("_GrandMasterStatus", Model.GMGrandMasterStatus) }
        }

    </table>
}
